body {
  background-color: black;
  font-family: Georgia, serif;
  color: greenyellow;
}

.prompt {
  background-color: black;
  border: none;
  outline: none;
  color: greenyellow;
}

.shell-cmd {
  display: flex;
  color: greenyellow;
}

.prompt-disabled {
  display: none;
}
